a:hover {
    text-decoration: none;
}
.introContainer {
    height: 720px;
}

/* HEADER */

#header {
    background: url(../img/alaskaMenu.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}
    #titleBlog {
        color: white;
        font-family: Copperplate Gothic;
        flex-grow: 1; /* pousse le footer en bas de bloc */
        margin-top: 60px;
    }
        #titleBlog a {
            color: white;
        }
        #leather {
            width: 200px;
        }
    #biography, #admin {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius : 5px;
        padding: 10px 20px;
        text-align: justify;
        margin: 10px;
    }
    #admin {
        display: flex;
        flex-direction: column;
    }
        #admin p {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
        }
        #admin a {
            align-self: center;
        }
    #adminPart {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius : 5px;
        margin: 10px 60px;
        padding: 5px;
    }    
        #adminPart a {
            color: white;
        }
        #adminLinks {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 5px;
        }
    .footer {
        color: white;
        padding-top: 15px;
        font-size: 0.7em;
    }    

/* CONTENT */

#content {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: overlay;
}
    #content h2, .buttonStyle {
        background-color: #d7c6ac;
        border-radius: 3px;
        width: fit-content;
        padding: 5px;
        font-size: 1.2em;
        margin: 10px 30px;
        color: white;
        font-weight: bold;
        border: none;
    }
        .buttonStyle:hover {
            background-color: #a5957d;
            text-decoration: none;
            color: white;
        }
    #content h3 {
        font-family: Copperplate Gothic;
        font-size: 1.8em;
    }
    .smallInfosText {
        color: grey;
        font-size: 0.7em;
    }

/* NEWS */

.news, #commentDisplay {
    margin: 20px 30px 30px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
    .news h3 {
        font-size: 0.9em;
        text-align: center;
    }
    .news p {
        text-align: justify;
        padding: 10px;
    }

/* COMMENTS */

.commentStyle {
    background-color: #d7c6ac;
    border-radius: 5px;
    padding: 5px 0;
    margin: 15px 5px;
}
    .fa-exclamation-circle {
        color: white;
    }
    .commentStyle p {
        margin-bottom: 0;
    }
    #formComment {
        margin: 15px 0;
    }
        #author, #comment {
            width: 100%;
        }
        #submitComment {
            border-radius: 5px;
            border: none;
            margin-top: 15px;
        }

/* MODAL */

#modalSignal {
    display: flex;
}
    .modal-content {
        padding: 10px;
    }
    #modalSignal button {
        margin: 0;
        align-self: flex-end;
    }

/* CONNEXION ADMIN */

#connexionAdmin {
    display: flex;
    justify-content: space-around;
}